<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <servlet>
        <servlet-name>CompileFile</servlet-name>
        <servlet-class>CompileFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewUser</servlet-name>
        <servlet-class>NewUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RunFile</servlet-name>
        <servlet-class>RunFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveAgain</servlet-name>
        <servlet-class>SaveAgain</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveFile</servlet-name>
        <servlet-class>SaveFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StringExtract</servlet-name>
        <servlet-class>StringExtract</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogin</servlet-name>
        <servlet-class>UserLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CompileFile</servlet-name>
        <url-pattern>/CompileFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewUser</servlet-name>
        <url-pattern>/NewUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RunFile</servlet-name>
        <url-pattern>/RunFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveAgain</servlet-name>
        <url-pattern>/SaveAgain</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveFile</servlet-name>
        <url-pattern>/SaveFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StringExtract</servlet-name>
        <url-pattern>/StringExtract</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogin</servlet-name>
        <url-pattern>/UserLogin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>OnlineJavaCompiler.html</welcome-file>
    </welcome-file-list>
</web-app>
